  <div class="sidebar-par" [class.sidebar-par-collapsed]="isSidebarCollapsed()">
<div class="logo shadow-bottom">
  @if (isSidebarCollapsed()) {
    <img src="assets/images/kanban_logosmall.png" alt="logo" (click)="openSidebar()" style="cursor: pointer;"/>
  } @else {
    <img src="assets/images/logo-light.png" alt="logo" (click)="openSidebar()" style="cursor: pointer;" />
  }

  @if (!isSidebarCollapsed()) {

    <button class="toggle-btn" (click)="closeSidebar()" aria-label="Close sidebar">
      &times;
    </button> 
  }
</div>
    <div class="sidebar">
      <div class="sidebar-nav">
        <ul class="nav mb-5 flex-column">
          <li class="link" routerLink="/user/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span> <svg-icons name="home"></svg-icons> </span>
            @if (!isSidebarCollapsed()) {
              <a>Dashboard</a> 
            }
          </li>
          <li class="link"  routerLink="/user/inventory" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span> <svg-icons name="handcart"></svg-icons> </span>
            @if (!isSidebarCollapsed()) {
              <a>Inventory</a>
            }
          </li>
          <li class="link" routerLink="/user/reports" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span> <svg-icons name="stats"></svg-icons> </span>
            @if (!isSidebarCollapsed()) {
              <a>Reports</a>
            }
          </li>
          <li class="link" routerLink="/user/suppliers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span> <svg-icons name="profile"></svg-icons> </span>
            @if (!isSidebarCollapsed()) {
              <a>Suppliers</a>
            }
          </li>
          <li class="link" routerLink="/user/orders" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span> <svg-icons name="box"></svg-icons> </span>
            @if (!isSidebarCollapsed()) {
              <a>Orders</a>
            }
          </li>
          <li class="link">
            <span> <svg-icons name="notes"></svg-icons> </span>
            @if (!isSidebarCollapsed()) {
              <a>Manage Store</a>
            }
          </li>
        </ul>
        <ul class="nav flex-column">
          <li class="link">
            <span> <svg-icons name="cog"></svg-icons> </span>
            @if (!isSidebarCollapsed()) {
              <a>Settings</a>
            }
          </li>
          <li class="link" (click)="onLogout()" style="cursor: pointer;">
            <span> <svg-icons name="exit"></svg-icons> </span>
            @if (!isSidebarCollapsed()) {
              <a>Log out</a>
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
