<div class="dashboard">
  <div class="row">
    <div class="col-lg-7">
      <div class="overview shadow-sm">
        <div class="title">
          <h4>Sales Overview</h4>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="details">
              <div class="icon">
                <i>
                  <svg-icons name="sales"></svg-icons>
                </i>
              </div>
              <div class="details-info">
                <div class="price">
                  <p>₹ 832</p>
                </div>
                <div class="info">Sales</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="details">
              <div class="icon">
                <i>
                  <svg-icons name="stacked-bar-chart"/>
                </i>
              </div>
              <div class="details-info">
                <div class="price">
                  <p>₹ 8300</p>
                </div>
                <div class="info">Revenue</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="details">
              <div class="icon">
                <i>
                  <svg-icons name="bar-chart"></svg-icons>
                </i>
              </div>
              <div class="details-info">
                <div class="price">
                  <p>₹ 868</p>
                </div>
                <div class="info">Profit</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="details border-0">
              <div class="icon">
                <i>
                  <svg-icons name="home-alt"></svg-icons>
                </i>
              </div>
              <div class="details-info">
                <div class="price">
                  <p>₹ 17,432</p>
                </div>
                <div class="info">Cost</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
        <div class="overview shadow-sm">
        <div class="title">
          <h4>Inventory Summary</h4>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="details border-end">
              <div class="icon">
                <i>
                  <svg-icons name="box-alt"></svg-icons>
                </i>
              </div>
              <div class="details-info d-flex flex-column align-items-center">
                <div class="info">
                    <p class="mb-0 text-center">863</p>
                    <p class="mb-0 text-center">Quantity in hand</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="details     ">
              <div class="icon">
                <i>
                  <svg-icons name="ontheway"></svg-icons>
                </i>
              </div>
              <div class="details-info d-flex flex-column align-items-center">
                <div class="info">
                    <p class="mb-0 text-center">200</p>
                    <p class="mb-0 text-center">To be received</p>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>

</div>
