.dashboard {
    padding: 22px 32px;
    background-color: #f4f4f4;

    .overview {
        padding: 20px 16px;
        border-radius: 8px;
        background-color: #fff;
        margin-bottom: 22px;
        .title {
            margin-bottom: 30px;
        }
        .col-lg-3 {
            padding: 0;
            .details {
                padding: 0 22px;
                border-right: 1px solid #ccc;
                .details-info {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 23px;
                    p {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}

.chart {
    background-color: #fff;
    padding: 18px 16px;
    border-radius: 8px;
}
.stock {
    padding: 18px 16px;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 22px;
    &.low-quantity {
        .title {
            margin-bottom: 13px;
        }
        // table {
        //     tr {
        //         td {
        //             display: flex;

        //             & > .status {
        //                 display: flex;
        //                 justify-self: center;
        //                 height: 100%;
        //             }
        //         }
        //     }
        // }
    }
}
