<main>
  <div class="container">

    <header class="header">
      <div class="header-btn-con">
        <h1>Maggi</h1>

        <div class="btn-con">
          <button class="diff"><span><svg-icons name="edit"></svg-icons></span> <span>Edit</span></button>
          <button>Download</button>
        </div>
      </div>
      <!-- ======= NEXT COMPONENT ======= -->
       <div class="header-nav">
        <ul>
          <li>Overview</li>
          <li>Purchases</li>
          <li>Adjustments</li>
          <li>History</li>
        </ul>
       </div>
    </header>
    <!-- ======== NEXT CONTENT DIV ======== -->
     <div class="content-overall-container">

      <div class="content-product-info-con">
        <div class="content-container">
          <div class="div1">
            <div class="product-details">
              <div class="product-details-con">
                <h1>Primary Details</h1>

                <div class="products">
                  <div><span class="title">Product name</span> <span class="title-info">Maggi</span></div>
                  <div><span class="title">Product Id</span> <span class="title-info">456567</span></div>
                  <div><span class="title">Product Category</span> <span class="title-info">Instant food</span></div>
                  <div><span class="title">Expiry Date</span> <span class="title-info">13/4/23</span></div>
                  <div><span class="title">Thershold Value</span> <span class="title-info">12</span></div>
                </div>
              </div>

            </div>
            <!-- BREAK -->
            <div class="supplier-details">
              <h1>Supplier Details</h1>

              <div class="supplier-details-con">
                  <div><span>Supplier Name</span> <span>Ronale Martin</span></div>
                  <div><span>Contact Number</span> <span>9878996797</span></div>
              </div>
            </div>
        </div>

        <div class="div2">
            <div class="img-con">
              <img src="assets/images/maggi-pack.png" alt="image">
            </div>

                <div class="products">
                  <div><span class="title">Opening Stock</span> <span class="title-info">40</span></div>
                  <div><span class="title">Remaining Stock</span> <span class="title-info">24</span></div>
                  <div><span class="title">On The Way</span> <span class="title-info">15</span></div>
                  <div><span class="title">Thershold Value</span> <span class="title-info">12</span></div>
                </div>
        </div>
        </div>
        <!-- NEXT DIV -->
         <div class="stock-locations table">
            <table>
              <thead class="table-secondary">
                <th>Store Name</th>
                <th>Stock in hand</th>
              </thead>
              <tbody>
                <tr>
                  <td>Sulur Branch</td>
                  <td class="blue">15</td>
                </tr>
                <tr>
                  <td>Singular Branch</td>
                  <td class="blue">19</td>
                </tr>
              </tbody>
            </table>
         </div>

      </div>

     </div>
  </div>
</main>