/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
}
.shadow-bottom {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}
.shadow-right {
  box-shadow: 4px 0 6px -1px rgba(0, 0, 0, 0.1);
}

// THIS IS THE COLORING FOR THE OVERALL CONTAINER H1 (S);

.div4 {
  border-right: none;
}

.blue {
  color: rgb(75, 112, 214);
}

.orange {
  color: orange;
}

.purple {
  color: rgb(203, 52, 203);
}

.pink {
  color: red;
}

.green {
  color: green;
}

.black {
  font-weight: 400;
  color: rgb(54, 54, 54);
}