/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
}
.shadow-bottom {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}
.shadow-right {
  box-shadow: 4px 0 6px -1px rgba(0, 0, 0, 0.1);
}
